body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  color: #333;
}

p {
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
}
